body{
  background-color: #232119;
  color: #ccc;
}

img{
  margin-bottom: 5px;
}

.page-header{
  border: 0;
}

.navbar-inner{
  padding-top: 5px;
}

.btn{
  border-radius: 0;
}

.voltar{
  color: #ccc;
  background: black;
  min-height: 50px;
  width: 100%;
  line-height: 50px;
  text-align: center;
}
h1{
  font-size: 18px;
  color: #ccc;
  background: black;
  min-height: 50px;
  width: 100%;
  line-height: 50px;
}

span{
  font-size: 12px;
  color: #ccc;
}

.produtos{
  position: relative;
  text-indent: -9999px;
  
}

.mais{
  position: absolute;
  top: 0;
  right: 0;
  background: rgba(35,33,25,0.72) url(mais.png) no-repeat center center;
  height: 70px;
  width: 70px;
}

.mais-detalhes{
  background: black;
  margin-bottom: 2px;
}

.mais-detalhes h4{
  padding: 10px 0 0 10px;
  margin: 0;
}

.mais-detalhes h5{
  padding: 5px 0 5px 10px;
  margin: 0;
}

h4 span, h5 span{
  font-size: 12px;
  font-weight: 300;
}

.divide{
  border-bottom: 1px solid #ccc;
}

.contato{
  background: #1b1b1b url(contato.png) no-repeat center top;
  min-width: 80px;
  display: inline-block;
  text-align: center;
  padding-top: 50px;
}

p.contato-content {
  margin-top: 20px;
  text-align: center;
}
.contato-btns .btn{
  min-height: 60px;
  line-height: 60px;
  margin-top: 20px;
}