body{
  background-color: #232119;
  color: #ccc;
}

img{
  margin-bottom: 5px;
}

.page-header{
  border: 0;
}

.voltar{
  color: #ccc;
  background: black;
  min-height: 50px;
  width: 100%;
  line-height: 50px;
  text-align: center;
}
h1{
  font-size: 18px;
  color: #ccc;
  background: black;
  min-height: 50px;
  width: 100%;
  line-height: 50px;
}

span{
  font-size: 12px;
  color: #ccc;
}